<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <orxe-phone-number
    error-message="Entered number is Invalid"
    placeholder="Enter number"
    label-value="Phone number*"
    grouped-char="-"
    formControlName="phone"
    name="phone"
    value='{"phone":"9353343","country_code":"+358"}'
    (onBlur)="abc($event)"
    (onChange)="abc($event)"
    (onFocus)="abc($event)"
    (onUpdated)="abc($event)"
  ></orxe-phone-number>
  <button type="submit">get phone</button>
</form>
<div>phone{{ contactForm?.value?.phone }}</div>
<router-outlet></router-outlet>
